@import "../../index";

.wrapper {
  width: 100%;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
}

.card {
  color: $color-gray-100;
  background-color: $color-white;
  filter: drop-shadow(0 2px 6px $color-gray-200);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 50px 0 $color-primary, 0 0 0 7px $color-secondary;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    transform: translateY(-50%);
  }

  &__content {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
  }

  &__details {
    line-height: 1.5;
    padding-bottom: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__full-name {
    font-size: $font-size-normal;
    color: $color-primary;
  }

  &__location-row {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__social-media {
    justify-content: center;
    align-self: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
  }

  &__icon {
    width: 55px;
    height: 55px;
    transition: scale 850ms ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }

  &__button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    transition: all 0.3s;
    color: $color-white;

    &:hover {
      transform: translateY(-5px);
    }

    &--blue {
      background: linear-gradient(45deg, #1da1f2, #0e71c8);
      box-shadow: 0 4px 30px rgb(19 127 212 / 40%);

      &:hover {
        box-shadow: 0 7px 30px rgb(19 127 212 / 75%);
      }
    }

    &--orange {
      background: linear-gradient(45deg, #d5135a, #f05924);
      box-shadow: 0 4px 30px rgb(223 45 70 / 35%);

      &:hover {
        box-shadow: 0 7px 30px rgb(223 45 70 / 75%);
      }
    }

    &--green {
      background: linear-gradient(45deg, #13ced5, #24f046);
      box-shadow: 0 4px 30px rgb(131 223 45 / 35%);

      &:hover {
        box-shadow: 0 7px 30px rgb(75 223 45 / 75%);
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  transition: all 0.3s;
  background: rgb(22 33 72 / 35%);

  &--hidden {
    display: none;
  }

  &__form {
    box-shadow: 0 4px 30px rgb(15 22 56 / 35%);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: $color-white;
    border-radius: 10px;
    padding: 35px;
    transform: scale(0.8);
    position: relative;
    transition: all 0.3s;
    z-index: 3;
  }

  &__button {
    z-index: 3;
  }

  &__text {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    outline: none;
    transition: all 0.3s;
  }
}
