$color-primary: rgb(108 68 252);
$color-secondary: rgb(107 74 255 / 50%);
$color-white: #fff;
$color-gray-100: #151515;
$color-gray-150: #202020;
$color-gray-200: #242424;
$color-gray-500: #707070;
$color-gray-600: #adadad;
$color-gray-800: #f4f4f4;
$color-modal: #3f3f3f;
