/* stylelint-disable scss/double-slash-comment-whitespace-inside */

//FONT-SIZE

$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-xmedium: 20px;
$font-size-normal: 24px;

//FONT WEIGHT

$font-weight-normal: 400;
