@import "./index";

$font-family: sen;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $color-white;
}

#root {
  overflow-y: scroll;
  height: 100vh;
}
